<article style="margin-bottom: 200px">
  <h1>Houstone, máme problém</h1>
  <p>
    Něco se pokazilo a naši ajťáci už pracují na řešení. Omlouváme se
    za problémy. Zastavte se prosím za chvíli.
  </p>
</article>
