<aside id="darujme-widget" class="box" data-theme="dark">
  <h2>Podpořte Demagog.cz</h2>

  <p class="disclaimer">Demagog.cz funguje díky podpoře od čtenářů jako jste vy. Přispějte prosím na kvalitní factcheck českých politiků i v roce 2020. Trváme na naší nezávislosti, a proto nepřijímáme podporu od politických stran a zájmových skupin. Podpora od čtenářů je pro nás klíčová, jen tak můžeme dlouhodobě hlídat politická tvrzení. Děkujeme.</p>

  <div data-darujme-widget-token="cal3h1ohu4dkri5u">&nbsp;</div>
  <script type="text/javascript">
    +function(w, d, s, u, a, b) {
      w['DarujmeObject'] = u;
      w[u] = w[u] || function () { (w[u].q = w[u].q || []).push(arguments) };
      a = d.createElement(s); b = d.getElementsByTagName(s)[0];
      a.async = 1; a.src = "https:\/\/www.darujme.cz\/assets\/scripts\/widget.js";
      b.parentNode.insertBefore(a, b);
    }(window, document, 'script', 'Darujme');
    Darujme(1, "cal3h1ohu4dkri5u", 'render', "https:\/\/www.darujme.cz\/widget?token=cal3h1ohu4dkri5u", "370px");
  </script>
</aside>
