<aside class="box container-homepage-homepage_donate_and_subscribe" data-theme="dark">
  <h2>Podpořte Demagog.cz</h2>
  <p>
    Fungujeme jen díky podpoře od čtenářů jako jste vy.
  </p>
  <div style="margin: 20px 0">
    <div data-darujme-widget-token="cal3h1ohu4dkri5u">&nbsp;</div>
    <script type="text/javascript">
      +function(w, d, s, u, a, b) {
        w['DarujmeObject'] = u;
        w[u] = w[u] || function () { (w[u].q = w[u].q || []).push(arguments) };
        a = d.createElement(s); b = d.getElementsByTagName(s)[0];
        a.async = 1; a.src = "https:\/\/www.darujme.cz\/assets\/scripts\/widget.js";
        b.parentNode.insertBefore(a, b);
      }(window, document, 'script', 'Darujme');
      Darujme(1, "cal3h1ohu4dkri5u", 'render', "https:\/\/www.darujme.cz\/widget?token=cal3h1ohu4dkri5u", "300px");
    </script>
  </div>

  <h2 style="margin-top: 40px;">Zůstaňte v&nbsp;kontaktu</h2>
  <p>
    Každých pár týdnů posíláme newsletter se shrnutím naší práce a&nbsp;zajímavostmi ze zákulisí.
  </p>
  <form class="subscribe-to-newsletter-form" action="https://demagog.us4.list-manage.com/subscribe/post" method="POST">
    <input type="hidden" name="u" value="55104956ab8c4db41d4cd7e55">
    <input type="hidden" name="id" value="f2c56d2e38">
    <input type="email" class="email-input" placeholder="Váš e-mail" name="MERGE0" autocapitalize="off" autocorrect="off">
    <button type="submit" class="submit-button">Začít odebírat</button>
    <div class="accept-terms">
      Stisknutím „Začít odebírat‟ souhlasíte se zpracováním e-mailu dle <a href="/stranka/zasady-zpracovani-osobnich-udaju">Zásad zpracování osobních údajů</a>.
    </div>
  </form>

</aside>
