<aside id="twitter">
  <a class="twitter-timeline" href="https://twitter.com/DemagogCZ" data-widget-id="356381858889621504" data-chrome="nofooter">Tweets by @DemagogCZ</a>
</aside>

<aside id="facebook">
  <div class="fb-page" data-href="https://www.facebook.com/Demagog.CZ" data-tabs="timeline" data-width="475" data-height="600" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Demagog.CZ" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Demagog.CZ">Demagog.CZ</a></blockquote></div>
</aside>
