<article style="flex: 1 0 66.6667%; margin-left: 16.6667%; margin-right: 16.6667%;">
  <h1>Přehled ověřených výroků</h1>
  <p>
    Za svou existenci Demagog.cz už ověřil 11 397 výroků politiků.
    V následujícím rozhraní můžete výroky volně procházet.
  </p>
  <p>
    (Tady bude rozhraní na procházení výroků...)
  </p>
</article>
