<h2>Výpisy řečníků</h2>

<p>
  <%= link_to("Řečníci s nejvíce výroky", speakers_path()) %>
</p>

<nav>
<h3>Politické strany</h3>
<ul>
  <% @parties.each do |party| %>
    <li>
      <%= link_to(party.name, speakers_path(party.id)) %>
    </li>
  <% end %>
  <%#
  <li><a href="">Ostatní strany</a></li>
  %>
</ul>
</nav>
