<div class="container-speaker-index">
  <article class="speakers">
    <% if @party  %>
      <h2><%= @party.name %></h2>
      <section class="speakers-list">
        <% @party.current_members.each do |speaker| %>
          <div class="speakers-list-item">
            <%= render(
              partial: 'speaker/listed',
              object: speaker,
              as: :speaker,
              locals: { show_latest: false }
            ) %>
          </div>
        <% end %>
      </section>
    <% else %>
      <h2>Aktuálně nejaktivnější politici</h2>
      <p>Politici s nejvyšším počtem výroků za posledních šest měsíců.</p>
      <section class="speakers-list">
        <% @speakers.each do |speaker| %>
          <div class="speakers-list-item">
            <%= render(
              partial: 'speaker/listed',
              object: speaker,
              as: :speaker,
              locals: { show_latest: true }
            ) %>
          </div>
        <% end %>
      </section>
    <% end %>
  </article>

  <aside class="meta">
    <%= render(partial: "speaker/sidebar") %>
  </aside>
</div>
