<article>
  <% if @party  %>
    <h2><%= @party.name %></h2>
    <section class="speakers-list">
      <%= render(partial: 'speaker/listed', collection: @party.current_members, as: :speaker, locals: {showLatest: false}) %>
    </section>
  <% else %>
    <h2>Aktuálně nejaktivnější politici</h2>
    <p>Politici s nejvyšším počtem výroků za posledních šest měsíců.</p>
    <section class="speakers-list">
      <%= render(partial: 'speaker/listed', collection: @speakers, as: :speaker, locals: {showLatest: true}) %>
    </section>
  <% end %>
</article>

<aside class="meta">
  <%= render(partial: "speaker/sidebar") %>
</aside>
