.container-statement-show {
  flex: 1 0 100%;
  margin-top: 3rem;

  .speaker {
    display: inline-block;
    text-align: center;
    margin-bottom: 1rem;

    .portrait  {
      width: var(--large-portrait);
      height: var(--large-portrait);
      margin: 0 1rem;
      vertical-align: middle;
    }

    .name {
      display: inline-block;
      margin: 0.5rem 0;

      font-size: 22px;
      font-weight: 700;
      color: var(--violet);
    }

    &:hover {
      text-decoration: none;

      .portrait {
        box-shadow: 0 0 0 3px var(--orange);
      }

      .name {
        color: var(--orange);
      }
    }
  }

  .statement-content {
    blockquote {
      position: relative;
      border-radius: 5px;
      background: var(--statement-background);
      padding: 15px 25px 20px;
      margin: 0;

      font-size: 18px;

      // CSS-only arrow pointing to the portrait
      &:after {
        content: " ";

        position: absolute;
        right: 100%;
        top: 50px;
        height: 0;
        width: 0;

        margin-top: -18px;

        border: solid transparent;
        border-right-color: var(--statement-background);
        border-width: 13px;

        pointer-events: none;
      }

      .important-statement-sign {
        position: absolute;
        right: 0;
        top: 50%;
        width: 90px;

        margin-top: -42px;

        text-align: center;

        color: var(--orange);
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;

        .important-statement-icon {
          font-size: 45px;
          line-height: 1;
        }
      }

      @media (max-width: 899.9px) {
        margin-top: 0;

        &.oneliner-statement {
          margin-top: 0;
        }

        // Hide CSS arrow
        &:after {
          display: none;
        }
      }
    }

    cite {
      opacity: 0.6;

      &::before {
        content: '— ';
      }

      .date {
        white-space: nowrap;
      }
    }

    & > h1 {
      margin-top: 4rem;
      margin-bottom: 2rem;

      .veracity {
        @include veracity;

        margin-left: 0.25rem;
        white-space: nowrap;
      }
    }

    aside {
      margin-top: 4rem;

      & > h1 {
        margin-bottom: 2rem;
      }
    }
  }

  &.important-statement blockquote {
    background: var(--statement-important-background);
    padding-right: 90px;

    &:after {
      border-right-color: var(--statement-important-background);
    }
  }

  &.oneliner-statement blockquote {
    margin-top: 18px;

    &:after {
      top: 36px;
    }

    .important-statement-sign {
      margin-top: -38px;

      .important-statement-icon {
        display: none;
      }
    }
  }

  @media (min-width: 900px) {
    display: flex;
    flex-direction: row;

    .speaker {
      flex: 1 0 16.66666667%;
      margin-right: var(--gap);
    }

    .statement-content {
      flex: 1 0 66.66666667%;
      margin-right: 16.66666667%;
    }
  }
}
