.container-homepage-cover_story {
  .speakers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .speakers-item {
      flex: 0 0 auto;
      margin-right: var(--gap);
    }
  }

  @media (min-width: 900px) {
    flex: 1 0 100%;
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    h1 {
      flex: 1 0 100%;
      order: 1;
    }

    > figure {
      flex: 1 0 66.66666667%;
      max-width: 66.66666667%; // for IE11 not respecting border-box with flex-basis
      order: 3;
      box-sizing: border-box;
      padding-left: var(--gap);
    }

    .perex {
      flex: 1 0 33.33333333%;
      max-width: 33.33333333%; // for IE11 not respecting border-box with flex-basis
      order: 2;
      box-sizing: border-box;
      padding-right: var(--gap);
    }

    .speakers {
      flex: 1 0 100%;
      order: 4;
      margin-top: 1rem;
    }
  }
}
