<div class="container-shared-partners">
  <aside class="organizations" id="supporters">
    <h2>Projekt Demagog.cz podporují:</h2>
    <p>
      <a title="Nadační fond nezávislé žurnalistiky" href="https://www.nfnz.cz/">
        <img class="lazy-load" data-src="<%= asset_path("partners/nfnz.svg") %>" />
      </a>
    </p>
  </aside>

  <aside class="organizations" id="partners">
    <h2>Projekt Demagog.cz spolupracuje s:</h2>
    <p>
      <a title="Little Gretta" href="http://littlegreta.co.uk/">
        <img class="lazy-load" data-src="<%= asset_path('partners/little-greta.svg') %>" />
      </a>
      <a title="Newton Media" href="https://www.newtonmedia.cz/cs">
        <img class="lazy-load" data-src="<%= asset_path("partners/newton-media.png") %>" />
      </a>
    </p>
  </aside>

  <aside class="organizations" id="ifcn">
    <h2>Práce projektu Demagog.cz je ověřena International Fact-Checking Network</h2>
    <p>
      <a href="https://ifcncodeofprinciples.poynter.org/profile/demagogcz" title="IFCN signatory" target="_blank">
        <img src="https://cdn.ifcncodeofprinciples.poynter.org/storage/badges/36C9D629-AED1-C760-8B88-9FD45DD9156F.png" style="max-width:100%" />
      </a>
    </p>
  </aside>
</div>
