.container-promises-promise_embed {
  blockquote {
    border: 1px solid #D7E5FB;
    border-radius: 5px 5px 0 0;
    background-color: white;
    padding: 10px 15px 15px 15px;
    margin: 0;

    p {
      margin-bottom: 7px;
    }

    cite {
      text-align: right;
      color: #9a91b5;
      line-height: 1.25;

      a {
        color: #9a91b5;
        text-decoration: underline;

        &:hover {
          color: #f26538;
        }
      }
    }
  }

  .assessment {
    border: 1px solid #D7E5FB;
    border-top: none;
    border-radius: 0 0 5px 5px;
    background-color: #f4f9fd;
    padding: 15px 15px 20px 15px;
    position: relative;

    .short-explanation {
      margin-top: 3px;

      p {
        margin-bottom: 7px;
      }
    }

    .logo {
      display: block;
      position: absolute;
      right: 15px;
      bottom: 15px;
      width: 110px;
    }
  }

  @media (max-width: 449.9px) {
    .assessment .logo {
      margin-top: 15px;
      position: static;
    }
  }
}
