article {
  h1 {
    margin-top: 1em;
  }

  .source {
    color: #585859;
    font-weight: 300;
    margin: 0 0 1em;
  }
}

.filters {
  select {
    display: inline;
    border: 1px solid #ccc;
    padding: 10px;
    background: 97% 50% no-repeat url('../images/select.png') white;
    -webkit-appearance: none;
    border-radius: 0;
    width: 25%;
  }
}

.cover-story {
  img {
    width: 100%;
  }

  .lead {
    padding: .75em 1.25em;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.9);

    p { margin-bottom: 0; }
  }
}



article.preview {
  margin-top: 40px;

  h1 {
    font-size: rem-calc(28);
    margin: -9px 0 10px;
    text-align: left;
  }
  .speakers { 
    overflow: hidden; padding: 3px 13px 13px 3px; 
    float: right;
    max-width: 45%;
    margin-bottom: -1rem;
  }
  .speaker { margin-bottom: 10px; }
  .photo-wrapper {
    width: 70px;
    height: 70px;
    margin: 0 -5px 10px 0;
    display: block;
    float: right;
  }
  .clickthrough {
    margin-top: 0;
  }
  .label {
    padding: 0;
    font-size: inherit;
    vertical-align: inherit;
    background-color: transparent;

    &.default {  color: $blue; }
    &.static { color: $orange; }
  }
}


