article {
  h1 {
    margin-top: 1em;
  }

  .source {
    color: #585859;
    font-weight: 300;
    margin: 0 0 1em;
  }
}

.row .row.collapse.filters {
  margin-bottom: 2em;

  .button {
    border: 1px solid $aluminum;
    background: $silver;
    
    color: $jumbo;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
  }

  input, select {
    border: 1px solid $aluminum;
    border-right: none;
    background: $white;
  } 
}

.cover-story {
  img {
    width: 100%;
  }

  .lead {
    padding: .75em 1.25em;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.9);

    p { margin-bottom: 0; }
  }
}



article.preview {
  margin-top: 40px;

  h2 {
    margin: 0 0 10px;
    text-align: left;
  }
  .speakers {
    overflow: hidden; padding: 3px 13px 13px 3px;
    float: right;
    max-width: 45%;
    margin-bottom: -1rem;
  }
  .speaker { margin-bottom: 10px; }
  .photo-wrapper {
    width: 70px;
    height: 70px;
    margin: 0 -5px 10px 0;
    display: block;
    float: right;
  }
  .clickthrough {
    margin-top: 0;
  }
  .label {
    padding: 0;
    font-size: inherit;
    vertical-align: inherit;
    background-color: transparent;

    &.default {  color: $blue; }
    &.static { color: $orange; }
  }

  .show-for-medium-up img {
    width: calc(100% + #{$column-gutter / 2});
    max-width: calc(100% + #{$column-gutter / 2});
  }
}

p.lead {
  font-size: $paragraph-font-size + rem-calc(0.5);
  line-height: inherit;
}


