:root {
  /* ci colors */
  --blue: #0060ff;
  --violet: #3c325c;
  --orange: #f26538;
  --white: #f4f9fd;
  --light-gray: #d0d3e8;
  --dark-gray: #282828;

  /* grays */
  --silver: #eee;
  --aluminum: #999;
  --jumbo: #888;
  --steel: #666;

  /* veracity */
  --true: var(--blue);
  --untrue: #eb1d2b;
  --misleading: #ffba00;
  --unverifiable: #9dbaeb;

  /* statement backgrounds */
  --statement-background: #d7e5ef;
  --statement-important-background: #f3dbd3;

  /* font */
  --font-family: Lato, sans-serif;
  --normal-typesize: 16px;
  --medium-typesize: 18px;
  --large-typesize: 22px;

  /* grid */
  --gutter: 50px;
  --gap: 1.5rem;

  /* photos */
  --large-portrait: 100px;
  --small-portrait: 70px;

  /* root props */
  font-size: var(--normal-typesize);
  font-family: var(--font-family);
  color: var(--violet);
  background-color: var(--white);
}

html,
body {
  margin: 0;
  padding: 0;
  // -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--orange);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  overflow: hidden;
}

footer p {
  grid-column: 1 / -1;
}

h1 {
  font-size: var(--large-typesize);
  margin: 2rem 0 0.5rem;
  line-height: 1.4;
}

h2 {
  font-size: var(--medium-typesize);
  margin: 2rem 0 0.5rem;
  line-height: 1.4;
}

h3 {
  margin: 2rem 0 0.5rem;
}

p {
  margin: 0 0 1rem;
}

p,
li,
blockquote,
h3,
h4 {
  font-size: var(--small-typesize);
  line-height: 1.6;
}

figure {
  margin: 0;
}


header h1 img {
  max-width: 250px;
}

blockquote {
  letter-spacing: 0.025em;
  margin-left: 0;

  b {
    font-size: 90%;
    font-style: normal;
    text-transform: uppercase;
  }
}

cite {
  display: block;
  font-size: inherit;
  color: #3c325c;
  font-style: italic;

  &::before {
    content: '— ';
  }
}

ul.bare-list {
  padding: 0;

  li {
    list-style-type: none;
    margin-bottom: 0.25rem;
  }
}

nav {
  ul { padding: 0; }
  li { 
    list-style-type: none; 
    margin-bottom: 0.25rem;
  }
}

p.lead {
  font-weight: bold;
  line-height: 1.6;
}

.box {
  margin: 2rem -15px;
  padding: 15px;
}

.organizations {
  p {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    margin: 25px 0;
  }

  a {
    display: grid;
  }

  img {
    margin: auto auto auto 0;
    max-width: 135px;
    max-height: 70px;
  }
}

.color-legend {
  -webkit-box-shadow: 0 0 1px 1px #eee;
  box-shadow: 0 0 1px 1px #eee;
  background: #f6f6f6;
  padding: 0 10px 5px;
  line-height: 32px;
  margin-bottom: 32px;
}

.portrait {
  display: inline-block;
  background: #eee;
  border-radius: 50%;
  width: var(--small-portrait);
  height: var(--small-portrait);
  overflow: hidden;
  margin: 0 3px 3px -2px;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.05);

  img {
    width: 100%;
  }
}

.statement {
  display: flex;
  align-items: flex-start;

  margin-top: 1.5rem;
  margin-bottom: 4rem;

  .speaker {
    display: block;
    flex: 0 0 80px;

    .portrait {
      margin-left: 5px;
    }

    h3 {
      margin: 0;
      text-align: center;

      color: var(--violet);
      line-height: 1.25;
    }

    &:hover {
      text-decoration: none;

      .portrait {
        box-shadow: 0 0 0 3px var(--orange);
      }

      h3 {
        color: var(--orange);
      }
    }
  }

  .statement-content {
    flex: 1 1 auto;
    margin: 0 0 0 1.5rem;
  }

  blockquote {
    position: relative;
    border-radius: 5px;
    background: var(--statement-background);
    padding: 8px 15px 11px;
    margin: 0;
    letter-spacing: 0;

    // CSS-only arrow pointing to the portrait
    &:after {
      content: " ";

      position: absolute;
      right: 100%;
      top: 34px;
      height: 0;
      width: 0;

      margin-top: -10px;

      border: solid transparent;
      border-right-color: var(--statement-background);
      border-width: 10px;

      pointer-events: none;
    }

    .important-statement-icon {
      position: absolute;
      right: 0;
      top: 50%;

      margin-top: -36px;
      padding: 0 16px;

      color: var(--orange);
      font-size: 45px;
      font-weight: 700;
    }
  }

  &.oneliner-statement blockquote {
    &:after {
      top: 22px;
    }

    .important-statement-icon {
      margin-top: -26px;
      font-size: 30px;
    }
  }

  &.important-statement blockquote {
    background: var(--statement-important-background);
    padding-right: 45px;

    &:after {
      border-right-color: var(--statement-important-background);
    }
  }

  .veracity-and-links {
    line-height: 1.5;
    margin-top: 0.8rem;

    .veracity {
      @include veracity;

      position: relative;
      top: 1px;

      font-weight: bold;
      margin-left: 0.1rem;
      margin-right: 1rem;
    }

    .show-reasons {
      margin-right: 1rem;
    }

    .permalink {
      display: inline-block;
      color: #aaa;

      &::after {
        content: '';
        display: inline-block;
        background-repeat: no-repeat;
        background-image: image-url('share.svg');
        background-position: 50% 50%;
        background-size: contain;
        width: 2em;
        height: 1em;
        margin-bottom: -2px;
      }
    }
  }

  .reasons {
    margin-top: 0.4rem;

    transition: all 300ms ease;

    * {
      line-height: 25px;
    }
  }

  .reasons-short {
    margin-top: 0.4rem;

    p {
      margin: 0;
    }
  }

  .show-full-explanation {
    display: inline-block;
    margin-top: 0.4rem;
  }

  .show-reasons .collapsed { display: none; }

  &.collapsed {
    padding-top: 0;

    .reasons {
      display: none;
    }

    .show-reasons .collapsed { display: inline; }
    .show-reasons .open { display: none; }
  }
}

.statement-preview {
  margin-bottom: 1.5rem;

  .portrait {
    float: left;
    margin: 0 1rem 0 -0.5rem;
  }

  p { margin: 0; }

  .name {
    font-size: var(--medium-typesize);
    font-weight: bold;
  }

  .veracity {
    @include veracity(1.3);

    margin: 0 0.3rem 0 -2rem;
  }
}

.statement-detail {
  .speaker {
    display: inline-block;
    text-align: center;
    margin-bottom: 1rem;

    .portrait  {
      width: var(--large-portrait);
      height: var(--large-portrait);
      margin: 0 1rem;
      vertical-align: middle;
    }

    .name {
      display: inline-block;
      margin: 0.5rem 0;

      font-size: 22px;
      font-weight: 700;
      color: var(--violet);
    }

    &:hover {
      text-decoration: none;

      .portrait {
        box-shadow: 0 0 0 3px var(--orange);
      }

      .name {
        color: var(--orange);
      }
    }
  }

  .statement-content {
    blockquote {
      position: relative;
      border-radius: 5px;
      background: var(--statement-background);
      padding: 15px 25px 20px;
      margin: 0;

      font-size: 18px;

      // CSS-only arrow pointing to the portrait
      &:after {
        content: " ";

        position: absolute;
        right: 100%;
        top: 50px;
        height: 0;
        width: 0;

        margin-top: -13px;

        border: solid transparent;
        border-right-color: var(--statement-background);
        border-width: 13px;

        pointer-events: none;
      }

      .important-statement-sign {
        position: absolute;
        right: 0;
        top: 50%;
        width: 90px;

        margin-top: -42px;

        text-align: center;

        color: var(--orange);
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;

        .important-statement-icon {
          font-size: 45px;
          line-height: 1;
        }
      }
    }

    cite {
      margin: 0.8rem 25px;

      font-size: 18px;
      color: #6E658A;
    }

    & > h1 {
      margin-top: 4rem;
      margin-bottom: 2rem;

      .veracity {
        @include veracity;

        margin-left: 0.25rem;
        white-space: nowrap;
      }
    }

    aside {
      margin-top: 4rem;

      & > h1 {
        margin-bottom: 2rem;
      }
    }
  }

  &.important-statement blockquote {
    background: var(--statement-important-background);
    padding-right: 90px;

    &:after {
      border-right-color: var(--statement-important-background);
    }
  }

  &.oneliner-statement blockquote {
    margin-top: 18px;

    &:after {
      top: 32px;
    }

    .important-statement-sign {
      margin-top: -38px;

      .important-statement-icon {
        display: none;
      }
    }
  }
}


.pagination {
  font-size: var(--medium-typesize);

  span {
    padding: 0 2rem 0 0;
  }

  .current-page {
    background-color: var(--violet);
    color: var(--white);
  }
}

.label {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 90%;

  &.factcheck { color: var(--true); }
  &.editorial { color: var(--orange); }
  &.important { color: var(--steel); }

  &.important::after { content: ') '; }
  &.important::before { content: ' ('; }
}


[data-theme="dark"] {
  color: var(--white);
  background-color: var(--dark-gray);

  p,
  li,
  blockquote,
  h3,
  h4 {
    //color: var(--white);
  }
}

.stats {
  font-weight: bold;
  font-size: 20px;
  margin: 0;
  padding: 0;
  display: flex;

  li {
    list-style: none;
    padding: 0 0.5em 0 0;

    @include veracity;
  }

  .none {
    color: #ddd !important;
  }

  .none::before {
    background-color: #ddd !important;
  }
}

.stats-box {
  display: grid;
  grid-template-columns: var(--small-portrait) 1fr;
  grid-column-gap: var(--gap);
  margin: 0 0 1rem;

  .name {
    grid-row: 1;
    grid-column: 2;
    margin: 0;
    font-size: 20px;
    font-weight: bold;
  }

  .portrait {
    grid-column: 1;
    grid-row: span 2;
  }
}

a.stats-box:hover {
  text-decoration: none;

  .name {
    text-decoration: underline;
  }

  .portrait {
    box-shadow: 0 0 0 3px var(--orange)
  }
}

.author {
  display: grid;
  grid-template-columns: var(--large-portrait) 1fr;
  grid-column-gap: var(--gap);
  margin-bottom: 2rem;

  .portrait {
    width: var(--large-portrait);
    height: var(--large-portrait);
  }

  h2 {
    margin: 0;
  }
}

article.speaker-detail {
  .profile {
    display: grid;
    grid-template-columns: var(--large-portrait) 1fr;
    grid-column-gap: var(--gap);

    .portrait {
      width: var(--large-portrait);
      height: var(--large-portrait);
    }
  }

  h1 {
    margin: 1rem 0 0.5rem;
  }
}

article.preview {
  .speakers {
    float: right;
    max-width: 35%;
    margin: 0 0 -0.5rem 0.5rem;
  }
}

#facebook {
  overflow: hidden;
}
