:root {
  /* ci colors */
  --blue: #0060ff;
  --violet: #3c325c;
  --orange: #f26538;
  --white: #f4f9fd;
  --light-gray: #d0d3e8;
  --dark-gray: #282828;

  /* grays */
  --silver: #eee;
  --aluminum: #999;
  --jumbo: #888;
  --steel: #666;

  /* veracity */
  --true: var(--blue);
  --untrue: #eb1d2b;
  --misleading: #ffba00;
  --unverifiable: #9dbaeb;

  /* statement backgrounds */
  --statement-background: #d7e5ef;
  --statement-important-background: #f3dbd3;

  /* font */
  --font-family: Lato, sans-serif;
  --normal-typesize: 16px;
  --medium-typesize: 18px;
  --large-typesize: 22px;

  /* grid */
  --gutter: 50px;
  --gap: 1.5rem;

  /* photos */
  --large-portrait: 100px;
  --small-portrait: 70px;

  /* root props */
  font-size: var(--normal-typesize);
  font-family: var(--font-family);
  color: var(--violet);
  background-color: var(--white);
}

html,
body {
  margin: 0;
  padding: 0;
  // -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--orange);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  overflow: hidden;
}

footer p {
  grid-column: 1 / -1;
}

h1 {
  font-size: var(--large-typesize);
  margin: 2rem 0 0.5rem;
  line-height: 1.4;
}

h2 {
  font-size: var(--medium-typesize);
  margin: 2rem 0 0.5rem;
  line-height: 1.4;
}

h3 {
  margin: 2rem 0 0.5rem;
}

p {
  margin: 0 0 1rem;
}

p,
li,
blockquote,
h3,
h4 {
  font-size: var(--small-typesize);
  line-height: 1.6;
}

figure {
  margin: 0;
}


header h1 {
  margin-right: 4rem;
}

header h1 img {
  max-width: 250px;
  max-height: 52px;
}

blockquote {
  letter-spacing: 0.025em;
  margin-left: 0;

  b {
    font-size: 90%;
    font-style: normal;
    text-transform: uppercase;
  }
}

ul.bare-list {
  padding: 0;

  li {
    list-style-type: none;
    margin-bottom: 0.25rem;
  }
}

nav {
  ul { padding: 0; }
  li { 
    list-style-type: none; 
    margin-bottom: 0.25rem;
  }
}

p.lead {
  font-size: 1.125rem;
  line-height: 1.6;
}

.box {
  margin: 2rem -15px;
  padding: 15px;
}

.color-legend {
  -webkit-box-shadow: 0 0 1px 1px #eee;
  box-shadow: 0 0 1px 1px #eee;
  background: #f6f6f6;
  padding: 0 10px 5px;
  line-height: 32px;
  margin-bottom: 32px;
}

.portrait {
  display: inline-block;
  background: #eee;
  border-radius: 50%;
  width: var(--small-portrait);
  height: var(--small-portrait);
  overflow: hidden;
  margin: 0 3px 3px -2px;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.05);

  img {
    width: 100%;
  }
}

.statement {
  display: flex;
  align-items: flex-start;

  margin-top: 1.5rem;
  margin-bottom: 4rem;

  .speaker {
    display: block;
    flex: 0 0 80px;
    text-align: center;

    .portrait {
      margin-left: 5px;
    }

    h3 {
      margin: 0;
      text-align: center;

      color: var(--violet);
      line-height: 1.25;
    }

    &:hover {
      text-decoration: none;

      .portrait {
        box-shadow: 0 0 0 3px var(--orange);
      }

      h3 {
        color: var(--orange);
      }
    }
  }

  .statement-content {
    flex: 1 1 auto;
    margin: 0 0 0 1.5rem;
  }

  blockquote {
    position: relative;
    border-radius: 5px;
    background: var(--statement-background);
    padding: 8px 15px 11px;
    margin: 0;
    letter-spacing: 0;

    cite {
      opacity: 0.6;

      &::before {
        content: '— ';
      }

      .date {
        white-space: nowrap;
      }
    }

    // CSS-only arrow pointing to the portrait
    &:after {
      content: " ";

      position: absolute;
      right: 100%;
      top: 34px;
      height: 0;
      width: 0;

      margin-top: -10px;

      border: solid transparent;
      border-right-color: var(--statement-background);
      border-width: 10px;

      pointer-events: none;
    }

    .important-statement-icon {
      position: absolute;
      right: 0;
      top: 50%;

      margin-top: -36px;
      padding: 0 16px;

      color: var(--orange);
      font-size: 45px;
      font-weight: 700;
    }
  }

  &.oneliner-statement blockquote {
    &:after {
      top: 22px;
    }

    .important-statement-icon {
      margin-top: -26px;
      font-size: 30px;
    }
  }

  &.important-statement blockquote {
    background: var(--statement-important-background);
    padding-right: 45px;

    &:after {
      border-right-color: var(--statement-important-background);
    }
  }

  .veracity-and-links {
    line-height: 1.5;
    margin-top: 0.8rem;

    .veracity {
      @include veracity;

      position: relative;
      top: 1px;

      font-weight: bold;
      margin-left: 0.1rem;
      margin-right: 1rem;
    }

    .show-reasons {
      margin-right: 1rem;
    }

    .permalink {
      display: inline-block;
      color: #aaa;

      &::after {
        content: '';
        display: inline-block;
        background-repeat: no-repeat;
        background-image: image-url('share.svg');
        background-position: 50% 50%;
        background-size: contain;
        width: 2em;
        height: 1em;
        margin-bottom: -2px;
      }
    }
  }

  .reasons {
    margin-top: 0.4rem;

    transition: all 300ms ease;

    * {
      line-height: 25px;
    }
  }

  .reasons-short {
    margin-top: 0.4rem;
    margin-bottom: 0.3rem;

    p {
      margin: 0;
    }
  }

  .show-reasons .collapsed { display: none; }

  &.collapsed {
    padding-top: 0;

    .reasons {
      display: none;
    }

    .show-reasons .collapsed { display: inline; }
    .show-reasons .open { display: none; }
  }
}

.article-factcheck-video {
  .veracity-label {
    @include veracity;
  }
}

.statement-preview {
  margin-bottom: 1.5rem;

  .portrait {
    float: left;
    margin: 0 1rem 0 -0.5rem;
  }

  p { margin: 0; }

  .name {
    font-size: var(--medium-typesize);
    font-weight: bold;
  }

  .veracity {
    @include veracity(1.3);

    margin: 0 0.3rem 0 -2rem;
  }
}

.pagination {
  font-size: var(--medium-typesize);

  span {
    padding: 0 2rem 0 0;
  }

  .current-page {
    background-color: var(--violet);
    color: var(--white);
  }
}

.label {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 90%;
  margin-right: 2px;

  &.factcheck { color: var(--true); }
  &.editorial { color: var(--orange); }
  &.important { color: var(--steel); }

  &.important::after { content: ') '; }
  &.important::before { content: ' ('; }

  &.veracity {
    @include veracity;

    position: relative;
    top: 1px;

    font-weight: bold;
    margin-right: 2px;
  }
}


[data-theme="dark"] {
  color: var(--white);
  background-color: var(--dark-gray);

  p,
  li,
  blockquote,
  h3,
  h4 {
    //color: var(--white);
  }
}

.stats {
  font-weight: bold;
  font-size: 20px;
  margin: 0;
  padding: 0;
  display: flex;

  li {
    list-style: none;
    padding: 0 0.5em 0 0;

    @include veracity;
  }

  .none {
    color: #ddd !important;
  }

  .none::before {
    background-color: #ddd !important;
  }
}

article.preview {
  .speakers {
    float: right;
    max-width: 35%;
    margin: 0 0 -0.5rem 0.5rem;
  }
}

article.detail .intro .article-factcheck-video {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

#facebook {
  overflow: hidden;
}

.statements-filters {
  margin-top: 2.15rem;

  > label {
    display: inline-block;
    margin-bottom: 0.5rem;
  }

  .speaker-veracities-filter {
    display: flex;
    margin: 1rem 0 0 0;

    .portrait-wrapper {
      flex: 0 0 80px;

      .portrait {
        margin-top: 3px;
        margin-left: 5px;
      }
    }

    .speaker-veracities-filter-content {
      flex: 1 1 auto;
      margin: 0 0 0.7rem 0.7rem;

      .name {
        font-weight: 700;
        margin: 0.4rem 0 0.1rem 0;
      }

      .stats-buttons {
        font-weight: bold;
        font-size: 20px;
        margin: 0 0 0 -0.5rem;
        padding: 0;
        display: flex;

        li {
          flex: 0 0 auto;
          list-style: none;
          padding: 0;

          a {
            display: block;
            padding: 0.3rem 0.5rem;
            border-radius: 5px;

            @include veracity;
            margin-left: 0;

            &:hover, &:focus {
              background-color: #FFE0D6;
              text-decoration: none;
            }
          }

          &.active a {
            background-color: #FFE0D6;
          }

          .none {
            color: #ddd !important;

            &:hover, &:focus {
              background-color: transparent;
            }
          }

          .none::before {
            background-color: #ddd !important;
          }
        }
      }
    }
  }

  .clear-filters {
    margin-left: 1rem;
  }
}

.promise-evaluation {
  text-transform: uppercase;
  font-size: 90%;
  margin-left: -0.1em;
  white-space: nowrap;
  font-weight: bold;

  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -2px;
    width: 18.7px;
    height: 18.7px;
    border-radius: 10px;
    background-repeat: no-repeat;
    margin-right: 3px;
  }

  &.size-24::before {
    top: -3px;
    width: 24px;
    height: 24px;
    border-radius: 12px;
  }

  &.fulfilled {
    color: var(--true);

    &:before {
      background-color: var(--true);
      background-image: image-url('true-symbol.svg');
      background-position: 48% 55%;
      background-size: 10px;
    }

    &.size-24::before {
      background-size: 12px;
    }
  }

  &.partially-fulfilled, &.in-progress {
    color: var(--unverifiable);

    &:before {
      background-color: var(--unverifiable);
      background-image: image-url('promise-partially-fulfilled-symbol.svg');
      background-position: 48% 51%;
      background-size: 13px;
    }

    &.size-24::before {
      background-size: 16px;
    }
  }

  &.broken {
    color: var(--untrue);

    &:before {
      background-color: var(--untrue);
      background-image: image-url('untrue-symbol.svg');
      background-position: 50% 55%;
      background-size: 8.6px;
    }

    &.size-24::before {
      background-size: 10px 9px;
    }
  }

  &.stalled {
    color: var(--misleading);

    &:before {
      background-color: var(--misleading);
      background-image: image-url('unverifiable-symbol.svg');
      background-position: 55% 50%;
      background-size: 6px;
    }

    &.size-24::before {
      background-size: 7px;
    }
  }
}
