body, html {
  background: $white;
  color: $dark;
  font-family: "Lato", sans-serif;
}

body {
  padding-top: 2em;
}

body.f-topbar-fixed {
  margin-top: 2rem + $topbar-height;
}

h1, h2, h3, h4, h5 {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  letter-spacing: 0.025em;
  margin-top: 1em;
  margin-bottom: 0.5em;
  color: $violet;
}

p, li, blockquote, div {
  font-family: "Lato", sans-serif;
  letter-spacing: 0.025em;
}

blockquote {
  letter-spacing: 0.05em;
}

a {
  color: $orange;

  &:hover {
    color: $blue;
  }
}

img {
  border-radius: 3px;
}

header.page-header h1 {
  display: none;
}

nav.top-bar {
  margin: 2em 0;
  z-index: 1;

  .name {
    margin-left: -2px;
    .alt { display: none; }
    img { height: 48px; }
  }
  .has-dropdown a:hover {
    background-color: $orange !important;
  }
  .top-bar-section .has-dropdown:hover > a:after {
    border-color: $white transparent transparent transparent;
  }

  input, .button {
    height: 2rem;
    line-height: 2rem;
    padding: 0;

    @media (max-width: $medium-breakpoint) { top: 0px; }
    @media (min-width: $medium-breakpoint) { top: 16px; }

    border: 1px solid $aluminum;
    background: $white;
    
    color: $jumbo;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
  }

  input { 
    border-right: 0; 
    color: $steel;
    padding: 0 0.5rem;
  }
  .button { background: $silver; }

  @media (min-width: $medium-breakpoint) {
    transition: transform 0.2s ease-in-out;
    transform: translate(0, 0);
  }

  @media (max-width: $medium-breakpoint) {
    margin: 0 0 2em;
    transform: translate(0, 0);

    .name img {
      height: 36px;
    }

    .top-bar-section {
      ul li > a, .dropdown li.parent-link a, .dropdown li.title h5 a {
        color: $white;
      }
      .dropdown li {
        overflow: hidden;
      }
    }
  }
}
.fixed nav.top-bar {
  margin: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, .3);
  .name { visibility: visible;
    img { height: 32px; }
  }

  @media (min-width: $medium-breakpoint) {
    margin-top: -80px;
    transform: translate(0, 80px);
  }
}

.social {
  padding: 40px 0;
  @include inverted;
}

footer {
  margin-top: 40px;
  padding: 40px 0 0;

  h2 { margin: 0; }

  p, .partners { margin: 40px 0; }

  .partners img {
    max-width: 115px;
    max-height: 60px;
    margin: 0px 30px 50px 0;
  }

  .attribution {
    @include inverted;
  }
}



.pagination {
  font-size: rem-calc(18);
  margin: 50px -10px;

  span {
    padding: 0 10px;
  }

  .current-page {
    background-color: $violet;
    color: $white;
  }
}

.references {
  @include inverted;
  padding-bottom: 40px;

  .photo-wrapper {
    width: 80px;
    height: 80px;
    float: right;
    margin-right: 10px;

    box-shadow: 0 0 0 3px $white;
  }

  h4 {
    margin-top: 0em;
    margin-bottom: 0;
  }

  .position {
    font-size: 12px;
    margin-bottom: 1em;
  }
}

.discussion {
  div.uvod, div.uvod * {
    line-height: 25px;
  }
}

.related {
  border-top: 1px solid #aaa;

  div > ul > li {
    list-style-type: none;
  }
}



.label {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 3px;

  vertical-align: text-top;
  padding: 0.25rem 0.5rem 0.15rem;

  &.factcheck { background-color: $true; }
  &.editorial { background-color: $orange; }
}

input[type="text"] {
  border: 0.5px solid $dark;

  &:focus {
    border-color: $violet;
  }
}


