.photo-wrapper {
  display: inline-block;
  background: #eee;

  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  overflow: hidden;
  margin: 3px;
  box-shadow: 0 0 0px 2px #ddd;

  img {
    width: 100%;
  }
}

#bio p {
  margin-top: 0;
}

.speaker {
  margin: 0;

  .name {
    margin-top: 0;
    font-family: "Lato", sans-serif;
    font-size: $h4-font-size;
    font-weight: bold;
  }
}
.speakers .speaker:last-child {
  float: left;
}

.speaker-stats {
  clear: left;
  margin: 0 0 1rem;
  
  .speaker {
    .name {
      margin: 0 0 0 75px;
      padding-top: 2px;
      font-size: rem-calc(20);
    }
    
    .photo-wrapper {
      width: 60px;
      height: 60px;
      float: left;
    }
  }
  
  .stats {
    margin: -2px 0 2.5em 75px;
    font-weight: bold;
    font-size: rem-calc(20);
    
    li {
      list-style: none;
      margin-right: 10px;
      float: left;      

      @include veracity;
    }

    .none {
      color: #ddd !important;
    }

    .none::before {
      background-color: #ddd !important;
    }
  }
}

.speakers-list {
  
  .speaker {
    margin: 0 0 2rem;
    
    a { display: block; }
    
    p { margin: 0 0 0 80px; } 
    
    .photo-wrapper {
      width: 60px;
      height: 60px;
      float: left;
    }
  } 
} 


.statement.preview {
  .speaker {
    .name {
      margin: 0 0 0 0px;
    }
  }
  
  .photo-wrapper {
    width: 60px;
    height: 60px;
    margin-right: 15px;
  }
  
  p {
    margin: 0;
  }

  .veracity {
    font-size: 200%;
    float: right;
    margin-top: 35px;
    margin-left: -100%;
  }
  
}

.politician {
  margin-top: 3em;
  margin-bottom: 2em;

  .photo-wrapper {
    width: 137px;
    height: 137px;
  }

  h1 {
    margin-top: 0;
  }

  .politicianStats {
    font-size: 24px;

    .veracity {
      @include veracity;
      margin-right: 1em;
      white-space: nowrap;
    }
  }
}
