.statement .veracity {
  @include veracity;
}

.color-legend {
  -webkit-box-shadow: 0 0 1px 1px #eee;
  box-shadow: 0 0 1px 1px #eee;
  background: #f6f6f6;
  padding: 0 10px 5px;

  line-height: 32px;
  margin-bottom: 32px;
}

.row.statement {
  margin-bottom: 40px;
  overflow: hidden;

  figure.speaker {
    float: right;
  }

  figure.speaker:last-child {
    float: none;
  }
    
  .photo-wrapper {
    margin-bottom: 5px;
  }

  &:first-child {
    margin-top: 0;
  }

  .quote {
    letter-spacing: 0.05em;
    margin-bottom: 0.5em;
    
    b {
      font-style: normal;
      text-transform: uppercase;
      font-size: 90%;
    }
  }
  
  .permalink, .show-reasons {
    display: inline-block;
    margin-left: 1em;
  }

  .permalink {
    color: #666;

    &::after {
      content: '';
      display: inline-block;
      background-repeat: no-repeat;
      background-image: image-url('share.svg');
      background-position: 50% 50%;
      background-size: contain;
      width: 2em;
      height: 1em;
      margin-bottom: -2px;
    }
  }

  .reasons {
    padding-top: 15px;
    margin-bottom: 40px;

    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;

    * {
      line-height: 25px;
    }

    .veracity {
      font-size: 120%;
      font-weight: bold;
      float: left;
      margin-bottom: 0.75rem;
    }

    table {
      margin: 20px 0;
      border-collapse: collapse;
    }

    .show-reasons {
      display: none;
    }

    &.hidden {
      padding-top: 0;

      .explanation {
        display: none;
      }

      .show-reasons {
        display: inline-block;
      }
    }
  }
}


.interesting-statements {
  @include inverted;
  padding: 40px 0 30px;
  margin: 20px 0 60px;

  .statement {
    margin-top: 1em;
    margin-bottom: 1em;

    .veracity {
      @include veracity(0.8);
      margin-left: 0.1em;
    }

    figure, &.preview p {
      margin: 0 0 0 60px;
    }
  }
  .name a {
    display: inline;
  }
  p {
    font-size: rem-calc(14);
  }
  .photo-wrapper {
    float: left;
    margin-left: -20px;
    width: 70px;
    height: 70px;
  }
  .statement.preview .veracity {
    float: left;
    margin: 35px 0 0 -30px;
  }
}


.statement-detail {
  blockquote {
    font-size: 130%;
    
    b {
      font-size: 90%;
      font-style: normal;
      text-transform: uppercase;
    }
  }

  .veracity {
    @include veracity;
    white-space: nowrap;
  }
}
