@charset "UTF-8";

@import "settings";
@import "foundation";

@import "veracity";
@import "inverted";

@import "general";
@import "article";
@import "statement";
@import "speaker";

// identify & remove
.explanation {
  clear: left;

  &, & font, & div, & span, & li {
    font-size: 1em !important; line-height: 1.6em !important;
  }

  br { display: none; }
  div { margin-top: 1em; }
}

#zivotopis { display: none; }
