<% if user_signed_in? %>
  <div id="app-root" />
<% else %>
  <div style="text-align: center;">
    <h3 style="margin-top: 30px">Přihlášení</h3>

    <div style="margin-top: 60px; margin-bottom: 60px;">
      <a class="google-signin-btn" href="<%= user_google_oauth2_omniauth_authorize_path %>"></a>
    </div>

    <p>
      <small >
        Pokud máte s přihlášením problémy, kontaktujte <a href="mailto:admin@demagog.cz">správce</a>.
      </small>
    </p>
  </div>
<% end %>
