<% content_for(:title, "Sliby vlády Andreje Babiše") %>
<% content_for(:description, "Speciální výstup Demagog.cz sledující plnění slibů druhé vlády Andreje Babiše") %>

<img class="promises-logo" src="<%= asset_path("vladni-sliby-logo.svg") %>" alt="Logo projektu Vládní sliby">

<h1>Sliby vlády Andreje Babiše</h1>
<p><strong>Speciální výstup Demagog.cz sledující plnění slibů druhé vlády Andreje Babiše</strong></p>

<p>
  Vláda Andreje Babiše schválila své programové prohlášení 27.&nbsp;června&nbsp;2018.
  Rok poté přichází Demagog.cz s&nbsp;rozsáhlou analýzou o&nbsp;plnění slibů menšinového
  kabinetu hnutí ANO a&nbsp;ČSSD. Vybrali jsme padesátku slibů napříč tématy,
  které budeme kontrolovat po celé volební období. Kompletní metodiku naleznete
  <a href="https://demagog.cz/diskuze/overujeme-sliby-vlady-andreje-babise">zde</a>.
  Za podporu děkujeme Nadačnímu fondu pro nezávislou žurnalistiku.
</p>

<p>
  Je možné, že na některé sliby budete sami nahlížet například jako na nerealizované,
  zatímco dle naší metodiky znamenají realizované snahy průběžné plnění.
  Kategorie jsou pouze výchozím bodem pro orientaci v&nbsp;analýze.
  Naším cílem bylo nabídnout veřejnosti tvrdá data a&nbsp;poctivou analýzu,
  hlavním přínosem jsou tedy data a&nbsp;informace obsažené v&nbsp;odůvodnění.
</p>

<p>
  Analýzu jsme aktualizovali k&nbsp;25.&nbsp;červnu&nbsp;2019, v&nbsp;pravidelných intervalech ji
  budeme souhrnně aktualizovat dále. V&nbsp;mezidobí však může docházet ke změnám,
  které nemusí být obratem do textu zapracovány. Berte tento limit, prosím, na vědomí.
</p>

<p>Budeme rádi za vaši zpětnou vazbu. Pište nám na <a href="mailto:info@demagog.cz">info@demagog.cz</a>.</p>
