<% content_for(:title, "Inspirace a metodika analýzy slibů Sobotkovy vlády") %>

<h1>Inspirace a metodika <a href="/sliby/<%= @slug %>">analýzy slibů Sobotkovy vlády</a></h1>

<h2>Inspirace</h2>
<p>
  Inspirace pro tento výstup vychází z projektu Politifact,
  který sleduje, nakolik své předvolební sliby plní američtí
  prezidenti (<a href="http://www.politifact.com/truth-o-meter/promises/obameter/">Barack Obama</a>,
  <a href="https://trump-meter.com/all/">Donald Trump</a>).
</p>

<h2>Metodika</h2>
<h3>Jaké sliby ověřujeme?</h3>
<p>
  Všechny fakticky ověřovatelné sliby vlády
  z <a href="https://www.vlada.cz/assets/media-centrum/dulezite-dokumenty/programove_prohlaseni_unor_2014.pdf">programového prohlášení vlády a koaliční smlouvy</a>.
  Obecně jde o závazek, který lze na základě objektivních
  zdrojů informací hodnotit. Nejde naopak o vágní nebo nejasné deklarace.
</p>
<p>
  Příklad hodnotitelného slibu: „Zrušíme důchodový pilíř.“ Na příslušných
  zdrojích (platné zákony) lze doložit, zda vláda tento krok udělala, či ne.
</p>
<p>
  Příklad nehodnotitelného slibu: „Vláda bude usilovat o zkvalitnění legislativy.“
  Jde o vágní prohlášení, které nelze nijak doložit. Lze si pokládat otázku, co zde
  zkvalitnění znamená (méně zákonů? kratší zákony?). Nelze objektivně měřit.
</p>
<h3>Poznámky k metodice</h3>
<p>
  Součástí odůvodnění u každého hodnoceného slibu jsou pochopitelně odkazy na
  primární zdroje informací, z nichž čerpáme. Každé faktické tvrzení obsažené
  v našich odůvodněních je podepřeno příslušným zdrojem informací.
</p>
<h3>Hodnotící kategorie jednotlivých slibů (příklady jsou ilustrativní)</h3>
<ul>
  <li>
    <strong>Splněný slib</strong><br>
    Závazek vlády, který je zcela splněn v rozsahu a formě, který vymezila
    v programovém prohlášení a koaliční smlouvě.<br>
    <br>
    Příklad:<br>
    Vláda: <em>Zrušíme 2. důchodový pilíř.</em><br>
    Realita: <em>Vláda zrušila 2. důchodový pilíř.</em><br>
    <br>
  </li>
  <li>
    <strong>Porušený slib</strong><br>
    Vládní koalice v rozporu se svým závazkem neučinila příslušné kroky, nebo
    naopak činila něco, čemuž se zavázala předcházet.<br>
    <br>
    Příklad:<br>
    Vláda: <em>Přijmeme zákon o obecném referendu.</em><br>
    Realita: <em>Vláda zákon o obecném referendu nepřijala a již (z logiky legislativního procesu) ani nepřijme.</em><br>
    <br>
  </li>
  <li>
    <strong>Částečně splněný slib</strong><br>
    Vláda podnikla v dané oblasti některé kroky směřující k naplnění slibu,
    změny však nejsou provedeny v takové šíři, ke které se vláda zavázala.<br>
    <br>
    Příklad:<br>
    Vláda: <em>Zavedeme volné dny pro vstup do památek.</em><br>
    Realita: <em>Nebyly zavedeny plošně ve všech památkách.</em><br>
    <br>
  </li>
</ul>
