<% content_for(:title, "Sliby Sobotkovy vlády (2014—2017)") %>

<h1>Sliby Sobotkovy vlády (2014—2017)</h1>
<p><strong>Speciální výstup Demagog.cz sledující plnění slibů vlády Bohuslava Sobotky</strong></p>
<p>
  S končícím volebním obdobím zpracoval Demagog.cz unikátní analýzu,
  nakolik koalice ČSSD, hnutí ANO a KDU-ČSL splnila závazky, které
  si na začátku volebního období sama vytyčila. Pečlivě jsme
  prostudovali programové prohlášení vlády a koaliční smlouvu a identifikovali
  jsme přesně <%= @all_count %> měřitelných slibů, a to napříč rezorty. Můžete si tak přečíst,
  jak si vláda vedla v plnění slibů na poli bezpečnosti, zahraniční politiky,
  zdravotnictví, školství, práva a státní správy, hospodářství a ekonomiky,
  zemědělství i životního prostředí.
</p>
<p>
  U každého jsme na základě dohledávání primárních zdrojů informací zkoumali,
  zda se jej koalici podařilo naplnit (<a href="/sliby/<%= @slug %>/metodika">kompletní metodika</a>).
  Pro potřeby tohoto
  výstupu pracujeme s třemi hodnotícími kategoriemi — jde o sliby splněné,
  částečně splněné a nesplněné (více v metodice). Cílem hodnocení není říct,
  zda vláda byla dobrá, nebo špatná. To si rozhodne každý volič 20. a 21. října
  u volební urny. Naším cílem bylo nabídnout veřejnosti tvrdá data a poctivou
  analýzu namísto impulsivních a zkratkovitých hodnocení, která s sebou nese
  rozbíhající se předvolební kampaň. Z výsledků vyplývá, že vláda splnila <%= @promise_rating_percents[PromiseRating::FULFILLED] %> %
  verifikovatelných slibů a naopak nesplnila <%= @promise_rating_percents[PromiseRating::BROKEN] %> % z toho, co si vytyčila v koaliční smlouvě.
</p>
<p>
  Analýzu jsme zpracovali k 20. srpnu 2017, po proběhnuvší poslední schůzi
  Poslanecké sněmovny ji budeme s ohledem na legislativní posuny u jednotlivých
  předloh ještě aktualizovat.
</p>
<p>
  Budeme rádi za vaši zpětnou vazbu. Pište nám na
  <a href="mailto:info@demagog.cz">info@demagog.cz</a>.
</p>
<p>
  Poslední aktualizace výstupu: 20. srpna 2017
</p>
