<article class="detail">
  <section class="intro">
    <h1>Sliby Sobotkovy vlády (2014—2017)</h1>
    <p>
      S končícím volebním obdobím zpracoval Demagog.cz unikátní analýzu,
      nakolik koalice ČSSD, hnutí ANO a KDU-ČSL splnila závazky, které
      si na začátku volebního období sama vytyčila. Pečlivě jsme
      prostudovali programové prohlášení vlády a koaliční smlouvu a identifikovali
      jsme přesně 156 měřitelných slibů, a to napříč rezorty. Můžete si tak přečíst,
      jak si vláda vedla v plnění slibů na poli bezpečnosti, zahraniční politiky,
      zdravotnictví, školství, práva a státní správy, hospodářství a ekonomiky,
      zemědělství i životního prostředí.
    </p>
    <p>
      U každého jsme na základě dohledávání primárních zdrojů informací zkoumali,
      zda se jej koalici podařilo naplnit (<a href="#todo">kompletní metodika</a>).
      Pro potřeby tohoto
      výstupu pracujeme s třemi hodnotícími kategoriemi – jde o sliby splněné,
      částečně splněné a nesplněné (více v metodice). Cílem hodnocení není říct,
      zda vláda byla dobrá, nebo špatná. To si rozhodne každý volič 20. a 21. října
      u volební urny. Naším cílem bylo nabídnout veřejnosti tvrdá data a poctivou
      analýzu namísto impulsivních a zkratkovitých hodnocení, která s sebou nese
      rozbíhající se předvolební kampaň. Z výsledků vyplývá, že vláda splnila 51 %
      verifikovatelných slibů a naopak nesplnila 38 % z toho, co si vytyčila v koaliční smlouvě.
    </p>
    <p>
      Analýzu jsme zpracovali k 20. srpnu 2017, po proběhnuvší poslední schůzi
      Poslanecké sněmovny ji budeme s ohledem na legislativní posuny u jednotlivých
      předloh ještě aktualizovat.
    </p>
    <p>
      Budeme rádi za vaši zpětnou vazbu. Pište nám na
      <a href="mailto:info@demagog.cz">info@demagog.cz</a>.
    </p>
    <p class="test">
      Poslední aktualizace výstupu: 20. srpna 2017
    </p>
  </section>

  <section class="promises-section">
    <h2>Důležité sliby</h2>

    <div class="promise-items-list">
      <% @important.each do |promise| %>
        <div class="promise-item <%= get_promise_area(promise) %>">
          <%= get_promise_name(promise) %>

          <% if promise.assessment.veracity.key == "true" %>
            <div class="promise-item-badge-fulfilled"></div>
          <% end %>
          <% if promise.assessment.veracity.key == "misleading" %>
            <div class="promise-item-badge-partially-fulfilled"></div>
          <% end %>
          <% if promise.assessment.veracity.key == "untrue" %>
            <div class="promise-item-badge-broken"></div>
          <% end %>
        </div>
      <% end %>
    </div>

    <h2>Ostatní sliby</h2>

    <div class="promise-items-list">
      <% @non_important.each do |promise| %>
        <div class="promise-item <%= get_promise_area(promise) %>">
          <%= get_promise_name(promise) %>

          <% if promise.assessment.veracity.key == "true" %>
            <div class="promise-item-badge-fulfilled"></div>
          <% end %>
          <% if promise.assessment.veracity.key == "misleading" %>
            <div class="promise-item-badge-partially-fulfilled"></div>
          <% end %>
          <% if promise.assessment.veracity.key == "untrue" %>
            <div class="promise-item-badge-broken"></div>
          <% end %>
        </div>
      <% end %>
    </div>
  </section>
</article>

<style>
  .promises-section {
    grid-column: 1/13;
    width: 1100px;
  }

  .promise-items-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .promise-item {
    flex: 0 0 100px;
    width: 100px;
    height: 100px;
    margin: 0 10px 10px 0;
    background-color: #D7E5EF;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    position: relative;

    /* font-size: 14px;
    line-height: 18px; */
    /* font-size: 12px;
    line-height: 16px; */
    font-size: 13px;
    line-height: 17px;
    font-weight: 700;
    overflow-wrap: break-word;
    hyphens: auto;
  }
  .promise-item.economy {
    background-color: #F8EDC0;
  }
  .promise-item.security {
    background-color: #E6E6E6;
  }
  .promise-item.rural {
    background-color: #D6F3D3;
  }
  .promise-item.social {
    background-color: #FFDCDC;
  }
  .promise-item.education {
    background-color: #D5ECFF;
  }
  .promise-item.legal {
    background-color: #F4DBF5;
  }

  .promise-item-badge-fulfilled {
    color: var(--true);
  }
  .promise-item-badge-fulfilled:before {
    content: '';
    display: inline-block;
    position: absolute;
    bottom: 8px;
    right: 8px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: var(--true);
    background-repeat: no-repeat;
    background-image: url('/assets/true-symbol-6525dd4bb610ba3b30007ca10d25d5d773eddc132a03649b1d39d6c042c5c12d.svg');
    background-position: 48% 55%;
    background-size: 10px;
  }
  .promise-item-badge-partially-fulfilled {
    color: var(--unverifiable);
  }
  .promise-item-badge-partially-fulfilled:before {
    content: '';
    display: inline-block;
    position: absolute;
    bottom: 8px;
    right: 8px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: var(--unverifiable);
    background-repeat: no-repeat;
    background-image: url('/assets/true-symbol-6525dd4bb610ba3b30007ca10d25d5d773eddc132a03649b1d39d6c042c5c12d.svg');
    background-position: 48% 55%;
    background-size: 10px;
  }

  .promise-item-badge-broken {
    color: var(--untrue);
  }
  .promise-item-badge-broken:before {
    content: '';
    display: inline-block;
    position: absolute;
    bottom: 8px;
    right: 8px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: var(--untrue);
    background-repeat: no-repeat;
    background-image: url('/assets/untrue-symbol-f2e41e16ecadbfd9f3f6b3a574e765a18997ced7f534a901fe3db32b7e58bc3f.svg');
    background-position: 50% 55%;
    background-size: 9px;
  }
</style>
